<div class="container chat-container">
  <div class="row">
    <div class="col-md-4 mt-3" *ngIf="hasUsers">
      <div class="name-border" *ngFor="let user of users">
        <span class="user-name" (click)="setSelectedUser(user)"
          >{{ user.name }} {{ user.surname }}</span
        >
      </div>
    </div>

    <div class="col-md-8 mt-3 chat-content">
      <div class="row" *ngIf="!hasChatHistory">
        <div class="col-sm-12 mt-3">
          <span class="no-message">no messages</span>
        </div>
      </div>
      <div class="row" *ngIf="hasChatHistory">
        <div class="col-sm-10">
          <ng-container *ngFor="let message of messages; let i = index">
            <div class="row">
              <div class="col-sm-8">
                {{ message.date | date }}
              </div>
              <div class="col-sm-12 message-border">{{ message.message }}</div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-8 mt-3">
      <div class="input-group fixed-bottom small-input-group">
        <input type="text" class="form-control" [(ngModel)]="chatMessage" />
        <button
          class="btn btn-secondary ml-2"
          type="submit"
          (click)="sendMessage()"
        >
          Send
        </button>
      </div>
    </div>
  </div>

  <!-- <div class="container">
  <div class="col-sm-12">
    <div class="row" *ngFor="let user of users">
      <p>{{ user.name }} {{ user.surname }}</p>
    </div>
  </div>
</div> -->
</div>
