<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card text-center">
        <img
          class="card-img-top"
          src="https://cdn.pixabay.com/photo/2021/06/18/20/56/social-networks-6347153_1280.jpg"
          alt="Card image"
        />
        <div class="card-body">
          <h1 class="card-title">ChatApp</h1>
          <p class="card-text justify-content-center mt-3">
            Welcome. Please click <q>Join Chat</q> to proceed.
          </p>
          <button class="btn btn-lg mt-2" type="button" (click)="onJoin()">
            Join Chat
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
